.small-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -11px;
    right: -10px;
    cursor: pointer;
}

.input-add {

    align-content: center;
    text-align: center;
    display: block;
    height: 35px;
    width: 200px;
    background: #6a7188;
    color: #fff;
    padding-left: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}


.form-control.js-input.error {
    border-color: red;
}

.form-control.js-input.successful {
    border-color: #00ff00;
}

.film-description {
    text-align: start;
    margin-left: 35px;
    margin-bottom: 0px;
    font-size: smaller;
}