<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>kinocms</title>
    <th:block th:replace="blocks/links::links"></th:block>
    <th:block th:replace="blocks/links::linksFontAwesome"></th:block>
    <th:block th:replace="blocks/links::linksBootstrapDatePicker"></th:block>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">

    <!-- Layout container -->
    <div class="layout-container">

        <!-- Navbar -->
        <div th:insert="~{blocks/navbar::navbar}"></div>
        <!--/ Navbar -->

        <!-- Layout page -->
        <div class="layout-page">

            <!-- Menu -->
            <aside th:insert="blocks/sidebar::sidebar"
                   id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme sidebar"
                   style="display: flex;flex-direction: column;height: 100%;">
            </aside>
            <!--/ Menu -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
                    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">
                        <div style="margin-top: 50px"></div>
                        <form>
                            <h3 style="text-align: center;">Редагування користувача</h3>
                            <div class="row">
                                <div class="col-6">
                                    <label class="form-label">Ім'я</label>
                                    <input id="name_" class="form-control js-input" placeholder="ім'я">
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Мова</label>
                                    <div class="row">
                                        <div class="col-3 form-check mt-2" style="margin-left: 10px;">
                                            <input name="language" class="form-check-input isValid-input" type="radio"
                                                   value="uk" id="ukrainian-radio_" checked/>
                                            <label class="form-check-label" for="ukrainian-radio_">
                                                Українська
                                            </label>
                                        </div>
                                        <div class="col-3 form-check mt-2">
                                            <input name="language"
                                                   class="form-check-input js-input" type="radio" value="en"
                                                   id="english-radio_"/>
                                            <label class="form-check-label" for="english-radio_">
                                                Англійська
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <label class="form-label">Прізвище</label>
                                    <input id="lastname_" class="form-control js-input" placeholder="введіть прізвище">
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Стать</label>
                                    <div class="row">
                                        <div class="col-3 form-check mt-2" style="margin-left: 10px;">
                                            <input name="state" class="form-check-input js-input" type="radio"
                                                   value="man"
                                                   id="stateMan-radio_" checked/>
                                            <label class="form-check-label" for="stateMan-radio_">
                                                Чоловічий
                                            </label>
                                        </div>
                                        <div class="col-3 form-check mt-2">
                                            <input name="state" class="form-check-input js-input" type="radio"
                                                   value="woman"
                                                   id="stateWoman-radio_"/>
                                            <label class="form-check-label" for="stateWoman-radio_">
                                                Жіночий
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <label class="form-label">Псевдонім</label>
                                    <input id="nickname_" class="form-control js-input" placeholder="введіть псевдонім">
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Телефон</label>
                                    <input id="phone_" class="form-control js-input" placeholder="введіть телефон">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <label class="form-label">E-mail</label>
                                    <input id="email_" class="form-control js-input" placeholder="введіть пошту">
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="dateOfBirthday_" class="form-label">Дата народження</label>
                                    <input type="text" id="dateOfBirthday_" placeholder="dd.mm.yyyy"
                                           class="form-control js-input"/>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <label class="form-label">Адреса</label>
                                    <input id="address_" class="form-control js-input" placeholder="введіть адресу">
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="select2Basic" class="form-label">Місто</label>
                                        <select id="select2Basic" class="form-select"
                                                aria-label="Default select example">
                                            <option value="KY">Kyiv</option>
                                            <option value="KV">Kharkiv</option>
                                            <option value="DN">Dnipro</option>
                                            <option value="OD">Odesa</option>
                                            <option value="LV">Lviv</option>
                                            <option value="ZP">Zaporizhzhia</option>
                                            <option value="KR">Kryvyi Rih</option>
                                            <option value="MY">Mykolaiv</option>
                                            <option value="MK">Mariupol</option>
                                            <option value="VY">Vinnytsia</option>
                                            <option value="CH">Chernihiv</option>
                                            <option value="HS">Kherson</option>
                                            <option value="PL">Poltava</option>
                                            <option value="CHV">Cherkasy</option>
                                            <option value="ZH">Zhytomyr</option>
                                            <option value="CHZ">Chernivtsi</option>
                                            <option value="SR">Sumy</option>
                                            <option value="RV">Rivne</option>
                                            <option value="TR">Ternopil</option>
                                            <option value="IV">Ivano-Frankivsk</option>
                                            <option value="LU">Lutsk</option>
                                            <option value="UG">Uzhhorod</option>
                                            <option value="HL">Khmelnitskyi</option>
                                            <option value="KC">Kropyvnytskyi</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <label class="form-label">Пароль</label>
                                    <input id="password_" class="form-control" placeholder="введіть пароль">
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Повторіть пароль</label>
                                    <input id="repeatPassword_" class="form-control" placeholder="введіть пароль">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <label class="form-label">Номер карти</label>
                                    <input id="card_" class="form-control js-input" placeholder="введіть номер карти">
                                </div>
                            </div>
                            <div class="mt-3" style="text-align: center;">
                                <button id="btnSubmit"
                                        type="button" class="btn btn-dark" style="width: 20%">Зберегти
                                </button>
                            </div>
                            <input type="hidden" th:value="${id}" id="id_">

                            <!-- Modal -->
                            <div class="modal fade" id="displayModalId" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header justify-content-center"
                                             style="border-bottom: solid 1px #e1e1e1;">
                                            <h5 class="modal-title" id="exampleModalLabel" style="color: red;">
                                                Попередження</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body d-flex justify-content-center">
                                            <p id="paragraphModal_">Шаблон для розсилки не був завантажений.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ Modal -->
                        </form>
                    </div>
                </div>
                <!--/ Content -->
            </div>
            <!--/ Content wrapper -->
        </div>
        <!--/ Layout page -->
    </div>
    <!--/ Layout container -->
</div>
<!--/ Layout wrapper -->

<th:block th:replace="blocks/links::scripts"></th:block>
<script th:src="@{/vuexy/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js}"></script>
<script>
    const contextPath = window.location.pathname.substring(0, window.location.pathname.indexOf("/", 2));
    let dateOfRegistration;
    $("#dateOfBirthday_").datepicker({
        format: "dd.mm.yyyy"
    });
    $("#btnSubmit").click(function () {
        if (validateForm()) {
            requestSave();
        }
    });

    function validateForm() {
        let inputForm = document.querySelectorAll(".js-input");
        let isValid = true;
        inputForm.forEach(function (input) {
            if (input.value === '') {
                input.classList.remove('successful');
                input.classList.add('error');
                console.log('input not filled');
                isValid = false;
            } else {
                input.classList.remove('error');
                input.classList.add('successful');
            }
        });

        let elementPassword = document.getElementById("password_");
        let elementRepeatPassword = document.getElementById("repeatPassword_");


        if (elementPassword.value === '' && elementRepeatPassword.value === '') {
            isValid = false;
            let paragraph = "Ви не ввели один з паролів!";
            invokeModal(paragraph);
        } else if (elementPassword.value !== elementRepeatPassword.value) {
            isValid = false;
            let paragraph = "Ви ввели не однакові паролі!";
            invokeModal(paragraph);
        }

        return isValid;
    }

    function invokeModal(paragraph) {
        document.getElementById("paragraphModal_").textContent = paragraph;
        let modal = new bootstrap.Modal(document.getElementById("displayModalId"));
        modal.show();
    }

    function assignData(user) {
        document.getElementById("name_").value = user.name;
        document.getElementById("lastname_").value = user.lastname;
        document.getElementById("nickname_").value = user.nickname;
        document.getElementById("phone_").value = user.phone;
        document.getElementById("email_").value = user.email;
        document.getElementById("address_").value = user.address;
        document.getElementById("card_").value = user.card;

        $("#dateOfBirthday_").datepicker({
            format: "dd.mm.yyyy"
        }).datepicker("setDate", user.dateOfBirthday);

        if (user.isMan === true) {
            document.getElementById("stateMan-radio_").checked = true;
        } else {
            document.getElementById("stateWoman-radio_").checked = true;
        }

        let selectElement = document.getElementById("select2Basic");
        let options = selectElement.options;
        for (let i = 0; i < options.length; i++) {
            if (options[i].text === user.city) {
                selectElement.selectedIndex = i;
                break;
            }
        }
    }

    function requestGetUserData(id) {
        const request = new XMLHttpRequest();
        request.open("GET", `${contextPath}/admin/user/` + id);
        request.setRequestHeader("Content-type", "application/json; charset=utf-8");
        request.send();
        request.addEventListener("load", function () {
                if (request.status === 200) {
                    let data = JSON.parse(request.response);
                    let user = {
                        id: data.id,
                        dateOfBirthday: data.dateOfBirthday,
                        email: data.email,
                        phone: data.phone,
                        nickname: data.nickname,
                        name: data.name,
                        lastname: data.lastname,
                        city: data.city,
                        address: data.address,
                        card: data.card,
                        isMan: data.isMan
                    };
                    dateOfRegistration = data.dateOfRegistration;
                    assignData(user);
                }
            }
        );
    }

    function getUserDate() {
        let selectElement = document.getElementById("select2Basic");
        const resForm = new FormData();
        resForm.append("id", $('#id_').val());
        resForm.append("dateOfBirthday", $('#dateOfBirthday_').val());
        resForm.append("email", $('#email_').val());
        resForm.append("phone", $('#phone_').val());
        resForm.append("nickname", $('#nickname_').val());
        resForm.append("name", $('#name_').val());
        resForm.append("lastname", $('#lastname_').val());
        resForm.append("address", $('#address_').val());
        resForm.append("card", $('#card_').val());
        resForm.append("city", selectElement.options[selectElement.selectedIndex].textContent);

        if (document.querySelector('input[name="state"]:checked').value === 'man') {
            resForm.append("isMan", 'true');
        } else {
            resForm.append("isMan", 'false');
        }

        resForm.append("dateOfRegistration", dateOfRegistration);
        return resForm;
    }

    function requestSave() {
        let formData = getUserDate();
        $.ajax({
            type: "post",
            url: contextPath + "/admin/user/edit",
            data: formData,
            processData: false,
            contentType: false,
            success: function () {
                console.log("Form hall submitted successfully");
                window.location.replace(contextPath + "/admin/users")
            },
            error: function (error) {
                console.log("Error submitting form:", error);
            }
        });
    }

    window.addEventListener('DOMContentLoaded', function () {
        let inputIdUser = document.getElementById("id_");
        requestGetUserData(inputIdUser.value);
    })
</script>
</body>
</html>