<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>kinocms</title>
    <th:block th:replace="blocks/links::links"></th:block>
    <th:block th:replace="blocks/links::linksFontAwesome"></th:block>
    <th:block th:replace="blocks/links::linksTagify"></th:block>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">

    <!-- Layout container -->
    <div class="layout-container">

        <!-- Navbar -->
        <div th:insert="~{blocks/navbar::navbar}"></div>
        <!--/ Navbar -->

        <!-- Layout page -->
        <div class="layout-page">

            <!-- Menu -->
            <aside th:insert="blocks/sidebar::sidebar"
                   id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme sidebar"
                   style="display: flex;flex-direction: column;height: 100%;">
            </aside>
            <!--/ Menu -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
                    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">
                        <div style="margin-top: 50px">
                            <ul class="nav nav-pills mb-3 justify-content-end" id="pills-tab" role="tablist">
                                <div class="col-sm-2 d-flex align-items-center">
                                    <label class="switch">
                                        <span class="switch-label">Статус:</span>
                                        <input type="checkbox" class="switch-input" id="statusSwitch"/>
                                        <span class="switch-toggle-slider">
                                            <span class="switch-on"></span>
                                            <span class="switch-off"></span>
                                                </span>
                                    </label>
                                </div>
                                <div class="btn-group">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="pills-ukraine-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-ukraine" type="button" role="tab"
                                                aria-controls="pills-ukraine" aria-selected="true"
                                                th:onclick="changeLanguage('ukr')">Українська
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-england-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-england" type="button" role="tab"
                                                aria-controls="pills-england" aria-selected="false"
                                                th:onclick="changeLanguage('eng')">Англійська
                                        </button>
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <form method="post" class="pageForm" enctype="multipart/form-data">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-ukraine" role="tabpanel"
                                     aria-labelledby="pills-ukraine-tab" tabindex="0">
                                    <!-- Title -->
                                    <div class="row mb-3">
                                        <div class="col-4">
                                            <label class="form-label" for="title-ukr">Назва:</label>
                                            <input class="form-control js-input" id="title-ukr"
                                                   style="width: 100%" th:placeholder="${titleUkr}">
                                        </div>
                                    </div>
                                    <!--/ Title -->

                                    <!-- Description -->
                                    <div class="mb-3">
                                        <label class="form-label" for="description-ukr">Опис</label>
                                        <textarea class="form-control" rows="3" id="description-ukr"
                                                  style="width:100%; height: 250px;"
                                                  placeholder="введіть текст для опису"></textarea>
                                    </div>
                                    <!--/ Description -->

                                    <!-- Image1 -->
                                    <div class="row" id="image1-ukr">
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-3 d-flex align-items-center justify-content-end">
                                                    <label class="form-label">Перше фото:</label>
                                                </div>
                                                <div class="col image-container">
                                                    <img id="image1-download-ukr"
                                                         src="https://cdn.vectorstock.com/i/500p/65/30/default-image-icon-missing-picture-page-vector-40546530.jpg"
                                                         style="height: 150px;width: 300px;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-column align-items-center justify-content-center">
                                            <div class="d-flex gap-5">
                                                <label class="input-add" for="btn-download-image1-ukr"
                                                       data-index="0" data-type="image1Download-ukr">
                                                    Добавити</label>
                                                <input id="btn-download-image1-ukr"
                                                       type="file"
                                                       style="display: none">

                                                <btn class="input-add"
                                                     data-index="0" data-type="image1Delete-ukr">
                                                    Видалити
                                                </btn>
                                            </div>
                                            <div class="isValid-image1">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ Image1 -->

                                    <!-- Image2 -->
                                    <div class="row" id="image2-ukr">
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-3 d-flex align-items-center justify-content-end">
                                                    <label class="form-label">Друге фото:</label>
                                                </div>
                                                <div class="col image-container">
                                                    <img id="image2-download-ukr"
                                                         src="https://cdn.vectorstock.com/i/500p/65/30/default-image-icon-missing-picture-page-vector-40546530.jpg"
                                                         style="height: 150px;width: 300px;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-column align-items-center justify-content-center">
                                            <div class="d-flex gap-5">
                                                <label class="input-add" for="btn-download-image2-ukr"
                                                       data-index="0" data-type="image2Download-ukr">
                                                    Добавити</label>
                                                <input id="btn-download-image2-ukr"
                                                       type="file"
                                                       style="display: none">

                                                <btn class="input-add"
                                                     data-index="0" data-type="image2Delete-ukr">
                                                    Видалити
                                                </btn>
                                            </div>
                                            <div class="isValid-image2">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ Image2 -->

                                    <!-- Image3 -->
                                    <div class="row" id="image3-ukr">
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-3 d-flex align-items-center justify-content-end">
                                                    <label class="form-label">Третє фото:</label>
                                                </div>
                                                <div class="col image-container">
                                                    <img id="image3-download-ukr"
                                                         src="https://cdn.vectorstock.com/i/500p/65/30/default-image-icon-missing-picture-page-vector-40546530.jpg"
                                                         style="height: 150px;width: 300px;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-column align-items-center justify-content-center">
                                            <div class="d-flex gap-5">
                                                <label class="input-add" for="btn-download-image3-ukr"
                                                       data-index="0" data-type="image3Download-ukr">
                                                    Добавити</label>
                                                <input id="btn-download-image3-ukr"
                                                       type="file"
                                                       style="display: none">

                                                <btn class="input-add"
                                                     data-index="0" data-type="image3Delete-ukr">
                                                    Видалити
                                                </btn>
                                            </div>
                                            <div class="isValid-image3">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ Image3 -->

                                    <!-- Banner Image -->
                                    <div class="row mt-5" id="image-banner-ukr">
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-3 d-flex align-items-center justify-content-end">
                                                    <label class="form-label">Банер</label>
                                                </div>
                                                <div class="col image-container">
                                                    <img id="image-banner-download-ukr"
                                                         src="https://cdn.vectorstock.com/i/500p/65/30/default-image-icon-missing-picture-page-vector-40546530.jpg"
                                                         style="height: 150px;width: 300px;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-column align-items-center justify-content-center">
                                            <div class="d-flex gap-5">
                                                <label class="input-add" for="btn-download-banner-ukr"
                                                       data-index="0" data-type="bannerDownload-ukr">
                                                    Добавити</label>
                                                <input id="btn-download-banner-ukr"
                                                       type="file"
                                                       style="display: none">

                                                <btn class="input-add"
                                                     data-index="0" data-type="bannerDelete-ukr">
                                                    Видалити
                                                </btn>
                                            </div>
                                            <div class="isValid-banner">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Galleries -->
                                    <div class="mt-5"><h5>Галерея</h5></div>
                                    <div class="row gap-4 galleries-ukr" id="galleries-ukr"></div>
                                    <!--/ Galleries -->

                                    <!-- Ceo Block -->
                                    <div class="col-12 mt-5">
                                        <div class="row">
                                            <h5 class="col-12 d-flex justify-content-center">SEO Блок: </h5>
                                            <div>
                                                <!-- URL -->
                                                <div class="col-12 d-flex justify-content-center mb-4">
                                                    <div>
                                                        <label class="form-label" for="urlCeo-ukr">Уніфікований локатор
                                                            ресурсів:</label>
                                                        <input type="text" id="urlCeo-ukr" class="form-control js-input"
                                                               placeholder="введіть посилання" style="width: 500px">
                                                    </div>
                                                </div>
                                                <!--/ URL -->

                                                <!-- Title -->
                                                <div class="col-12 d-flex justify-content-center mb-4">
                                                    <div>
                                                        <label class="form-label" for="titleCeo-ukr">Заголовок:</label>
                                                        <input type="text" id="titleCeo-ukr"
                                                               class="form-control js-input"
                                                               placeholder="введіть заголовок" style="width: 500px">
                                                    </div>
                                                </div>
                                                <!--/ Title -->

                                                <!-- Keywords -->
                                                <div class="col-12 d-flex justify-content-center mb-4">
                                                    <div>
                                                        <label class="form-label" for="keywordsCeo-ukr">Ключові
                                                            слова:</label>
                                                        <input type="text" id="keywordsCeo-ukr"
                                                               class="form-control js-input"
                                                               placeholder="введіть ключові слова" style="width: 500px">
                                                    </div>
                                                </div>
                                                <!--/ Keywords -->

                                                <!-- Description -->
                                                <div class="col-12 d-flex justify-content-center mb-4">
                                                    <div style="width: 500px">
                                                        <label class="form-label"
                                                               for="descriptionCeo-ukr">Опис:</label>
                                                        <textarea class="form-control" rows="3"
                                                                  id="descriptionCeo-ukr"
                                                                  style="width:100%; height: 250px;"
                                                                  placeholder="введіть опис"></textarea>
                                                    </div>
                                                </div>
                                                <!--/ Description -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button class="btn btn-secondary" style="width: 200px"
                                                type="submit"> Зберегти
                                        </button>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-england" role="tabpanel"
                                     aria-labelledby="pills-england-tab" tabindex="0">
                                    <!-- Title -->
                                    <div class="row mb-3">
                                        <div class="col-4">
                                            <label class="form-label" for="title-eng">The name:</label>
                                            <input class="form-control js-input" id="title-eng"
                                                   style="width: 100%" placeholder="enter a name">
                                        </div>
                                    </div>
                                    <!--/ Title -->

                                    <!-- Description -->
                                    <div class="mb-3">
                                        <label class="form-label" for="description-eng">Description:</label>
                                        <textarea class="form-control" rows="3" id="description-eng"
                                                  style="width:100%; height: 250px;"
                                                  placeholder="enter a text description"></textarea>
                                    </div>
                                    <!--/ Description -->

                                    <!-- Image1 -->
                                    <div class="row" id="image1-eng">
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-3 d-flex align-items-center justify-content-end">
                                                    <label class="form-label">The first image:</label>
                                                </div>
                                                <div class="col image-container">
                                                    <img id="image1-download-eng"
                                                         src="https://cdn.vectorstock.com/i/500p/65/30/default-image-icon-missing-picture-page-vector-40546530.jpg"
                                                         style="height: 150px;width: 300px;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-column align-items-center justify-content-center">
                                            <div class="d-flex gap-5">
                                                <label class="input-add" for="btn-download-image1-eng"
                                                       data-index="0" data-type="image1Download-eng">
                                                    Добавити</label>
                                                <input id="btn-download-image1-eng"
                                                       type="file"
                                                       style="display: none">

                                                <btn class="input-add"
                                                     data-index="0" data-type="image1Delete-eng">
                                                    Видалити
                                                </btn>
                                            </div>
                                            <div class="isValid-image1">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ Image1 -->

                                    <!-- Image2 -->
                                    <div class="row" id="image2-eng">
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-3 d-flex align-items-center justify-content-end">
                                                    <label class="form-label">The second image:</label>
                                                </div>
                                                <div class="col image-container">
                                                    <img id="image2-download-eng"
                                                         src="https://cdn.vectorstock.com/i/500p/65/30/default-image-icon-missing-picture-page-vector-40546530.jpg"
                                                         style="height: 150px;width: 300px;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-column align-items-center justify-content-center">
                                            <div class="d-flex gap-5">
                                                <label class="input-add" for="btn-download-image2-eng"
                                                       data-index="0" data-type="image2Download-eng">
                                                    Добавити</label>
                                                <input id="btn-download-image2-eng"
                                                       type="file"
                                                       style="display: none">

                                                <btn class="input-add"
                                                     data-index="0" data-type="image2Delete-eng">
                                                    Видалити
                                                </btn>
                                            </div>
                                            <div class="isValid-image2">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ Image2 -->

                                    <!-- Image3 -->
                                    <div class="row" id="image3-eng">
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-3 d-flex align-items-center justify-content-end">
                                                    <label class="form-label">The third image:</label>
                                                </div>
                                                <div class="col image-container">
                                                    <img id="image3-download-eng"
                                                         src="https://cdn.vectorstock.com/i/500p/65/30/default-image-icon-missing-picture-page-vector-40546530.jpg"
                                                         style="height: 150px;width: 300px;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-column align-items-center justify-content-center">
                                            <div class="d-flex gap-5">
                                                <label class="input-add" for="btn-download-image3-eng"
                                                       data-index="0" data-type="image3Download-eng">
                                                    Добавити</label>
                                                <input id="btn-download-image3-eng"
                                                       type="file"
                                                       style="display: none">

                                                <btn class="input-add"
                                                     data-index="0" data-type="image3Delete-eng">
                                                    Видалити
                                                </btn>
                                            </div>
                                            <div class="isValid-image3">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ Image3 -->

                                    <!-- Banner -->
                                    <div class="row mt-5" id="image-banner-eng">
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-3 d-flex align-items-center justify-content-end">
                                                    <label class="form-label">Banner:</label>
                                                </div>
                                                <div class="col image-container">
                                                    <img id="image-banner-download-eng"
                                                         src="https://cdn.vectorstock.com/i/500p/65/30/default-image-icon-missing-picture-page-vector-40546530.jpg"
                                                         style="height: 150px;width: 300px;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-column align-items-center justify-content-center">
                                            <div class="d-flex gap-5">
                                                <label class="input-add" for="btn-download-banner-eng"
                                                       data-index="0" data-type="bannerDownload-eng">
                                                    Add</label>
                                                <input id="btn-download-banner-eng"
                                                       type="file"
                                                       style="display: none">

                                                <btn class="input-add"
                                                     data-index="0" data-type="bannerDelete-eng">
                                                    Remove
                                                </btn>
                                            </div>
                                            <div class="isValid-banner">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ Banner -->

                                    <!-- Galleries -->
                                    <div class="mt-5"><h5>Gallery</h5></div>
                                    <div class="row gap-4 galleries-eng" id="galleries-eng"></div>
                                    <!--/ Galleries -->

                                    <!-- Ceo Block -->
                                    <div class="col-12 mt-5">
                                        <div class="row">
                                            <h5 class="col-12 d-flex justify-content-center">SEO Block: </h5>
                                            <div>
                                                <!-- URL -->
                                                <div class="col-12 d-flex justify-content-center mb-4">
                                                    <div>
                                                        <label class="form-label" for="urlCeo-eng">URL:</label>
                                                        <input type="text" id="urlCeo-eng" class="form-control js-input"
                                                               placeholder="enter link" style="width: 500px">
                                                    </div>
                                                </div>
                                                <!--/ URL -->

                                                <!-- Title -->
                                                <div class="col-12 d-flex justify-content-center mb-4">
                                                    <div>
                                                        <label class="form-label" for="titleCeo-eng">Title:</label>
                                                        <input type="text" id="titleCeo-eng"
                                                               class="form-control js-input"
                                                               placeholder="enter title" style="width: 500px">
                                                    </div>
                                                </div>
                                                <!--/ Title -->

                                                <!-- Keywords -->
                                                <div class="col-12 d-flex justify-content-center mb-4">
                                                    <div>
                                                        <label class="form-label"
                                                               for="keywordsCeo-eng">Keywords:</label>
                                                        <input type="text" id="keywordsCeo-eng"
                                                               class="form-control js-input"
                                                               placeholder="enter keywords" style="width: 500px">
                                                    </div>
                                                </div>
                                                <!--/ Keywords -->

                                                <!-- Description -->
                                                <div class="col-12 d-flex justify-content-center mb-4">
                                                    <div style="width: 500px">
                                                        <label class="form-label"
                                                               for="descriptionCeo-eng">Description:</label>
                                                        <textarea class="form-control" rows="3"
                                                                  id="descriptionCeo-eng"
                                                                  style="width:100%; height: 250px;"
                                                                  placeholder="enter description"></textarea>
                                                    </div>
                                                </div>
                                                <!--/ Description -->

                                            </div>
                                        </div>
                                    </div>
                                    <!--/ Ceo Block -->

                                    <div class="d-flex justify-content-center">
                                        <button class="btn btn-secondary" style="width: 200px"
                                                type="submit"> Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" th:value="${pageId}" id="pageId">
                        </form>
                    </div>
                </div>
                <!--/ Content -->
            </div>
            <!--/ Content wrapper -->
        </div>
        <!--/ Layout page -->
    </div>
    <!--/ Layout container -->
</div>
<!--/ Layout wrapper -->

<th:block th:replace="blocks/links::scripts"></th:block>
<script th:src="@{/script-page.js}"></script>

<script>
    const form = document.querySelector(".pageForm");
    const inputForm = document.querySelectorAll(".js-input");
    const isValidImage1 = document.querySelectorAll(".isValid-image1");
    const isValidImage2 = document.querySelectorAll(".isValid-image2");
    const isValidImage3 = document.querySelectorAll(".isValid-image3");
    const isValidBanner = document.querySelectorAll(".isValid-banner");
    $(document).ready(function () {
        function validateForm() {
            let isValid = true;
            inputForm.forEach(function (input) {
                if (input.value === '') {
                    input.classList.remove('successful');
                    input.classList.add('error');
                    console.log('input not filled');
                    isValid = false;
                } else {
                    input.classList.remove('error');
                    input.classList.add('successful');
                }
            });

            isValidImage1.forEach(function (input) {
                input.innerHTML = "";
                if (fileImage1 === null && (nameImage1 === null || nameImage1 === undefined)) {
                    let paragraph = document.createElement("p");
                    paragraph.textContent = "The file was not downloaded";
                    paragraph.style.color = "red";
                    input.appendChild(paragraph);
                    console.log('the file was not downloaded');
                    isValid = false;
                }
            });
            isValidImage2.forEach(function (input) {
                input.innerHTML = "";
                if (fileImage2 === null && (nameImage2 === null || nameImage2 === undefined)) {
                    let paragraph = document.createElement("p");
                    paragraph.textContent = "The file was not downloaded";
                    paragraph.style.color = "red";
                    input.appendChild(paragraph);
                    console.log('the file was not downloaded');
                    isValid = false;
                }
            });
            isValidImage3.forEach(function (input) {
                input.innerHTML = "";
                if (fileImage3 === null && (nameImage3 === null || nameImage3 === undefined)) {
                    let paragraph = document.createElement("p");
                    paragraph.textContent = "The file was not downloaded";
                    paragraph.style.color = "red";
                    input.appendChild(paragraph);
                    console.log('the file was not downloaded');
                    isValid = false;
                }
            });
            isValidBanner.forEach(function (input) {
                input.innerHTML = "";
                if (fileBanner === null && (nameBanner === null || nameBanner === undefined)) {
                    let paragraph = document.createElement("p");
                    paragraph.textContent = "The file was not downloaded";
                    paragraph.style.color = "red";
                    input.appendChild(paragraph);
                    console.log('the file was not downloaded');
                    isValid = false;
                }
            });
            return isValid;
        }

        form.onsubmit = function () {
            event.preventDefault();
            if (languageFlag === 'ukr') {
                getDataFromInputs('eng');
                assignDataInputs('eng');
            } else if (languageFlag === 'eng') {
                getDataFromInputs('ukr');
                assignDataInputs('ukr');
            }
            if (validateForm()) {
                ajaxPost();
            } else {
                console.log('Form validation failed');
            }
        };

        function ajaxPost() {
            let id = document.getElementById("pageId").value;
            let formObject = getFormObject(languageFlag);
            $.ajax({
                type: "post",
                url: "/kinocms/admin/page/"+id+"/edit",
                data: formObject,
                processData: false,
                contentType: false,
                success: function () {
                    window.location.replace("/kinocms/admin/pages");
                },
                error: function (error) {
                    console.log("Error submitting form:", error);
                }
            });
        }
    });
    window.addEventListener("DOMContentLoaded", () => {
        const elementId = document.getElementById("pageId");
        if (elementId && elementId.value) {
            let id = elementId.value;
            const request = new XMLHttpRequest();
            request.open("GET", `/kinocms/admin/page/${id}`);
            request.setRequestHeader("Content-type", "application/json; charset=utf-8");
            request.send();
            request.addEventListener("load", function () {
                    if (request.status === 200) {
                        let data = JSON.parse(request.response);
                        urlCeo = data.urlCeo;
                        status = data.status;
                        if (data.nameImage1 !== null) {
                            nameImage1 = "/kinocms/uploads/pages/image1/" + data.id + "/" + data.nameImage1;
                        }
                        if (data.nameImage2 !== null) {
                            nameImage2 = "/kinocms/uploads/pages/image2/" + data.id + "/" + data.nameImage2;
                        }
                        if (data.nameImage3 !== null) {
                            nameImage3 = "/kinocms/uploads/pages/image3/" + data.id + "/" + data.nameImage3;
                        }
                        if (data.nameBanner !== null) {
                            nameBanner = "/kinocms/uploads/pages/banner/" + data.id + "/" + data.nameBanner;
                        }
                        if (data.galleries.length != null) {
                            let temporaryArray = new Array(5);
                            createGallery(temporaryArray);
                            for (let i = 0; i < data.galleries.length; i++) {
                                let object = data.galleries[i];
                                temporaryArray[i] = {
                                    id: object.id,
                                    idFilm: data.id,
                                    type: object.type,
                                    name: object.linkImage,
                                    file: null,
                                    link: null,
                                    pathToImage: "/kinocms/uploads/pages/galleries/" + data.id + "/" + object.linkImage
                                }
                            }
                            array = temporaryArray;
                            render();
                        }

                        document.getElementById(`title-ukr`).value = data.titleUkr;
                        document.getElementById(`title-eng`).value = data.titleEng;
                        document.getElementById(`description-ukr`).value = data.descriptionUkr;
                        document.getElementById(`description-eng`).value = data.descriptionEng;
                        document.getElementById(`titleCeo-eng`).value = data.titleCeoEng;
                        document.getElementById(`titleCeo-ukr`).value = data.titleCeoUkr;
                        document.getElementById(`keywordsCeo-ukr`).value = data.keywordsCeoUkr;
                        document.getElementById(`keywordsCeo-eng`).value = data.keywordsCeoEng;
                        document.getElementById(`descriptionCeo-ukr`).value = data.descriptionCeoUkr;
                        document.getElementById(`descriptionCeo-eng`).value = data.descriptionCeoEng;
                        const elementImg1 = document.getElementById(`image1-download-${languageFlag}`);
                        elementImg1.src = nameImage1;
                        const elementImg2 = document.getElementById(`image2-download-${languageFlag}`);
                        elementImg2.src = nameImage2;
                        const elementImg3 = document.getElementById(`image3-download-${languageFlag}`);
                        elementImg3.src = nameImage3;
                        const elementBanner = document.getElementById(`image-banner-download-${languageFlag}`);
                        elementBanner.src = nameBanner;
                        assignDataInputs(languageFlag);
                    }
                }
            )
        }
    });
</script>
</body>
</html>