<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/vuexy/assets/vendor/css/rtl/core.css"/>
    <link rel="stylesheet" href="/vuexy/assets/vendor/css/rtl/theme-default.css"/>
    <link rel="stylesheet" href="/vuexy/assets/vendor/fonts/tabler-icons.css">
    <link rel="stylesheet" href="/styles.css">
    <script src="/vuexy/dist/js/bootstrap.js"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">

    <!-- Layout container -->
    <div class="layout-container">

        <!-- Navbar -->
        <div th:insert="~{blocks/navbar::navbar}"></div>
        <!--/ Navbar -->

        <!-- Layout page -->
        <div class="layout-page">

            <!-- Menu -->
            <aside th:insert="blocks/sidebar::sidebar"
                   id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme sidebar"
                   style="display: flex;flex-direction: column;height: 100%;">
            </aside>
            <!--/ Menu -->

            <!-- Content wrapper -->
            <div class="content-wrapper">

                <!-- Content -->
                <div class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
                    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">
                        <div class="row" style="margin-top: 50px">
                            <div class="col">
                                <h3 style="text-align: end">Список сторінок</h3>
                            </div>
                            <div class="col-5 d-flex justify-content-end">
                                <a class="btn btn-dark waves-effect waves-light"
                                   th:href="@{/admin/page/add}"
                                   style="box-shadow:0 1px 15px #809699; height: 80%;width: 40%;margin-right: 10px;">
                                    Створити нову
                                </a>
                            </div>
                        </div>
                        <!-- Table Shares -->
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Назва</th>
                                    <th>Дата створення</th>
                                    <th>Статус</th>
                                    <th>Дії</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:object="${main}">
                                    <td th:text="${main.getTitle()}"></td>
                                    <td th:text="${main.getDateOfCreation()}"></td>
                                    <td th:text="${main.getStatus().equals(true)?'вкл':'викл'}"></td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <div class="btn-group">
                                                <a th:href="@{/admin/page/{id}/edit (id=${main.getId()})}"
                                                   class="btn btn-label-dark trash-icon">
                                                    <i class="ti ti-edit-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:object="${about}">
                                    <td th:text="${about.getTitle()}"></td>
                                    <td th:text="${about.getDateOfCreation()}"></td>
                                    <td th:text="${about.getStatus().equals(true)?'вкл':'викл'}"></td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <div class="btn-group">
                                                <a th:href="@{/admin/page/{id}/edit (id=${about.getId()})}"
                                                   class="btn btn-label-dark trash-icon">
                                                    <i class="ti ti-edit-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:object="${caffe}">
                                    <td th:text="${caffe.getTitle()}"></td>
                                    <td th:text="${caffe.getDateOfCreation()}"></td>
                                    <td th:text="${caffe.getStatus().equals(true)?'вкл':'викл'}"></td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <div class="btn-group">
                                                <a th:href="@{/admin/page/{id}/edit (id=${caffe.getId()})}"
                                                   class="btn btn-label-dark trash-icon">
                                                    <i class="ti ti-edit-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:object="${vip}">
                                    <td th:text="${vip.getTitle()}"></td>
                                    <td th:text="${vip.getDateOfCreation()}"></td>
                                    <td th:text="${vip.getStatus().equals(true)?'вкл':'викл'}"></td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <div class="btn-group">
                                                <a th:href="@{/admin/page/{id}/edit (id=${vip.getId()})}"
                                                   class="btn btn-label-dark trash-icon">
                                                    <i class="ti ti-edit-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:object="${ad}">
                                    <td th:text="${ad.getTitle()}"></td>
                                    <td th:text="${ad.getDateOfCreation()}"></td>
                                    <td th:text="${ad.getStatus().equals(true)?'вкл':'викл'}"></td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <div class="btn-group">
                                                <a th:href="@{/admin/page/{id}/edit (id=${ad.getId()})}"
                                                   class="btn btn-label-dark trash-icon">
                                                    <i class="ti ti-edit-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:object="${child}">
                                    <td th:text="${child.getTitle()}"></td>
                                    <td th:text="${child.getDateOfCreation()}"></td>
                                    <td th:text="${child.getStatus().equals(true)?'вкл':'викл'}"></td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <div class="btn-group">
                                                <a th:href="@{/admin/page/{id}/edit (id=${child.getId()})}"
                                                   class="btn btn-label-dark trash-icon">
                                                    <i class="ti ti-edit-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:object="${contact}">
                                    <td th:text="${contact.getTitle()}"></td>
                                    <td th:text="${contact.getDateOfCreation()}"></td>
                                    <td th:text="${contact.getStatus().equals(true)?'вкл':'викл'}"></td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <div class="btn-group">
                                                <a th:href="@{/admin/page/{id}/edit (id=${contact.getId()})}"
                                                   class="btn btn-label-dark trash-icon">
                                                    <i class="ti ti-edit-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:each="o,iterStart : ${pagesAdditional}">
                                    <td th:text="${o.getTitle()}"></td>
                                    <td th:text="${o.getDateOfCreation()}"></td>
                                    <td th:text="${o.getStatus().equals(true)?'вкл':'викл'}"></td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <div class="btn-group">
                                                <a th:href="@{/admin/page/{id}/edit (id=${o.getId()})}"
                                                   class="btn btn-label-dark trash-icon">
                                                    <i class="ti ti-edit-circle"></i>
                                                </a>
                                                <a th:href="@{/admin/page/{id}/delete (id=${o.getId()})}"
                                                   class="btn btn-label-dark trash-icon">
                                                    <i class="ti ti-trash"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--/ Table Shares -->
                    </div>
                </div>
                <!--/ Content -->

            </div>
            <!--/ Content wrapper -->

        </div>
        <!--/ Layout page -->

    </div>
    <!--/ Layout container -->

</div>
<!--/ Layout wrapper -->

</body>
</html>