<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/vuexy/assets/vendor/css/rtl/core.css"/>
    <link rel="stylesheet" href="/vuexy/assets/vendor/css/rtl/theme-default.css"/>
    <link rel="stylesheet" href="/vuexy/assets/vendor/fonts/tabler-icons.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">

    <!-- Layout container -->
    <div class="layout-container">

        <!-- Navbar -->
        <div th:insert="~{blocks/navbar::navbar}"></div>
        <!--/ Navbar -->

        <!-- Layout page -->
        <div class="layout-page">

            <!-- Menu -->
            <aside th:insert="blocks/sidebar::sidebar"
                   id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme sidebar"
                   style="display: flex;flex-direction: column;height: 100%;">
            </aside>
            <!--/ Menu -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
                    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">
                        <div style="margin-top: 50px"></div>
                        <form method="post" class="pageForm">

                            <div class="row" style="border: solid 1px black; border-radius: 1%;">
                                <h3 class="d-flex justify-content-center">E-mail</h3>
                                <div class="mb-3" style="display: inline-flex;">
                                    <p style="margin-right: 20px">Вибрати користувача кому надсилати:</p>
                                    <div class="col-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="selectAllId"/>
                                            <label class="form-check-label" for="selectAllId" id="labelForCheckBoxAll">
                                                Всі користувачі
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="selectSomeId"/>
                                            <label class="form-check-label" for="selectSomeId"
                                                   id="labelForCheckBoxSome">
                                                Вибірково
                                            </label>
                                        </div>
                                    </div>
                                    <a th:href="@{/admin/mailing/users}"
                                       class="col btn btn-github disabled" id="btn-selectUsers"
                                       style="text-align: center;color: floralwhite">Вибрати
                                        користувачів</a>
                                </div>
                                <div class="mb-3" style="display: inline-flex;">
                                    <div class="row col-6">
                                        <div class="row">
                                            <div class="col-auto" style="align-items: center;display: flex;">
                                                <label class="form-label" style="font-size: medium;">Загрузити
                                                    HTML-лист:</label>
                                            </div>
                                            <div class="col-6">
                                                <label class="buttonMy" for="inputFileId">Загрузити</label>
                                                <input id="inputFileId" type="file" accept=".html"
                                                       style="display: none;">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-auto" style="align-items: center;display: flex;">
                                                <label class="form-label" style="font-size: medium;">Загружений
                                                    файл:</label>
                                            </div>
                                            <div class="col-6" style="align-items: center;display: flex;">
                                                <label class="form-label" id="displayNewFileId"
                                                       style="color: cornflowerblue;font-size: medium;">Пусто</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-auto" style="align-items: center;display: flex;">
                                                <label class="form-label" style="font-size: medium;">Шаблон
                                                    використовується в поточній розсилці:</label>
                                            </div>
                                            <div class="col-auto" style="align-items: center;display: flex;">
                                                <label class="form-label" id="displayCurrentFileId"
                                                       style="color: cornflowerblue;font-size: medium;">Пусто</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-auto" style="align-items: center;display: flex;">
                                                <label class="form-label" style="font-size: medium;">Кількість листів: 8
                                                    321</label>
                                            </div>
                                                <div class="col-auto" style="align-items: center;display: flex;">
                                                    <label class="form-label" style="font-size: medium;margin-right: 25px;">Розсилка виконана
                                                        на:</label>
                                                    <label class="form-label" id="progress-label"
                                                           style="color: cornflowerblue;font-size: medium;">0%</label>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-6" style="border: solid 1px darkblue; border-radius: 4%;">
                                        <p style="text-align: center">Список останніх завантажених шаблонів</p>
                                        <div class="table-responsive">
                                            <table class="table table-borderless">
                                                <tbody id="tableDataId">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mb-5">
                                    <button class="btn btn-secondary disabled" style="width: 200px"
                                            type="button" id="mailingBtn"> Розпочати розсилку
                                    </button>
                                </div>
                            </div>
                            <input type="hidden" th:value="${isExistUsers}" id="inputIsExistUsers">

                            <!-- Modal -->
                            <div class="modal fade" id="displayModalId" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header justify-content-center"
                                             style="border-bottom: solid 1px #e1e1e1;">
                                            <h5 class="modal-title" id="exampleModalLabel" style="color: red;">
                                                Попередження</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body d-flex justify-content-center">
                                            <p>Шаблон для розсилки не був завантажений.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ Modal -->
                        </form>
                    </div>
                </div>
                <!--/ Content -->
            </div>
            <!--/ Content wrapper -->
        </div>
        <!--/ Layout page -->
    </div>
    <!--/ Layout container -->
</div>
<!--/ Layout wrapper -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/vuexy/assets/vendor/js/helpers.js"></script>
<script src="/vuexy/assets/js/config.js"></script>
<script src="/vuexy/dist/js/bootstrap.js"></script>

<script>
    const elementCheckBoxAllId = document.getElementById("selectAllId");
    const elementCheckBoxSomeId = document.getElementById("selectSomeId");
    const mailingBtn = document.getElementById("mailingBtn");
    const displayCurrentFileId = document.getElementById("displayCurrentFileId");
    let arrayTemplates = [];
    let resTemplate = {
        id: 0,
        fileName: null,
        file: null
    };

    $("#inputFileId").change(function () {
        let elementFile = document.getElementById("inputFileId").files[0];
        if (elementFile) {
            resTemplate.file = elementFile;
            resTemplate.id = 0;
            resTemplate.fileName = null;
            document.getElementById("displayNewFileId").textContent = elementFile.name;
        }
    });
    $('#selectAllId').click(function () {
        if (elementCheckBoxAllId.checked) {
            elementCheckBoxSomeId.checked = false;
            elementCheckBoxSomeId.disabled = true;
            mailingBtn.classList.remove('disabled');
        } else {
            elementCheckBoxSomeId.disabled = false;
            mailingBtn.classList.add('disabled');
        }
    });
    $('#selectSomeId').click(function () {
        switchCheckboxSelectedUsers();
    });

    function switchCheckboxSelectedUsers() {
        const btnSelectedUsers = document.getElementById("btn-selectUsers");
        const inputIsExistUsers = document.getElementById("inputIsExistUsers");
        if (elementCheckBoxSomeId.checked) {
            elementCheckBoxAllId.checked = false;
            elementCheckBoxAllId.disabled = true;
            btnSelectedUsers.classList.remove('disabled');

            if (inputIsExistUsers.value === 'true') {
                mailingBtn.classList.remove('disabled');
            }
        } else {
            elementCheckBoxAllId.disabled = false;
            btnSelectedUsers.classList.add('disabled');
            if (inputIsExistUsers.value === 'true') {
                mailingBtn.classList.add('disabled');
            }
        }
    }
    function render(array) {
        let elementData = document.getElementById("tableDataId");
        elementData.innerHTML = '';
        for (let i = 0; i < array.length; i++) {
            elementData.innerHTML += getDataTable(array[i]);
        }
    }
    function getDataTable(object) {
        return `<tr class="d-flex justify-content-between" id="myCheckboxContainer">
        <td>
            <div class="form-check d-flex align-items-center">
                <input id="checkbox-${object.id}" onclick="handlerChatBoxTemplate('${object.nameFile}',${object.id})" class="form-check-input" type="checkbox" value=""/>
            </div>
        </td>
        <td>
            <p style="margin-bottom: 0px">${object.nameFile}</p>
        </td>
        <td>
            <a class="checkbox-delete"
            id="templateDelete-${object.id}" onclick="handlerDeleteTemplate(${object.id})" style="margin-bottom: 0px">Видалити</a>
        </td>
    </tr>`;
    }
    function handlerChatBoxTemplate(fileName, id) {
        let currentCheckbox = document.getElementById('checkbox-' + id);
        if (!currentCheckbox.checked) {
            displayCurrentFileId.textContent = 'Пусто';
            resTemplate.id = null;
            resTemplate.fileName = null;
        } else {
            const checkboxes = document.querySelectorAll('#myCheckboxContainer .form-check-input');
            checkboxes.forEach((checkbox) => {
                if (checkbox.id !== 'checkbox-' + id) {
                    checkbox.checked = false;
                } else {
                    displayCurrentFileId.textContent = fileName;
                    getElement(arrayTemplates, id);
                }
            });
        }
    }
    function handlerDeleteTemplate(id) {

        const request = new XMLHttpRequest();
        request.open("GET", `/admin/template/` + id + `/delete`);
        request.setRequestHeader("Content-type", "application/json; charset=utf-8");
        request.send();
        request.addEventListener("load", function () {
                if (request.status === 200) {
                    arrayTemplates = JSON.parse(request.response);
                    render(arrayTemplates);
                }
            }
        );
    }
    function getElement(array, id) {
        array.forEach((input) => {
            if (input.id === id) {
                resTemplate.id = input.id;
                resTemplate.fileName = input.nameFile;
                resTemplate.file = null;
            }
        })
    }
    function animateProgress(start, end, duration) {
        let startTime = null;
        function updateProgress(timestamp) {
            if (!startTime) startTime = timestamp;
            const elapsed = timestamp - startTime;
            const progress = Math.min(elapsed / duration, 1);

            const currentPercentage = Math.floor(start + progress * (end - start));
            document.getElementById('progress-label').textContent = currentPercentage + '%';

            if (progress < 1) {
                requestAnimationFrame(updateProgress);
            }else{
                window.location.replace("/admin/mailing");
            }
        }
        requestAnimationFrame(updateProgress);
    }
</script>
<script>
    $('#mailingBtn').click(function () {
        if (resTemplate.file === null && resTemplate.id === 0 && resTemplate.fileName === null) {
            let modal = new bootstrap.Modal(document.getElementById("displayModalId"));
            modal.show();
        } else {
            ajaxPost();
        }
    });
    function ajaxPost() {
        const formData = new FormData();
        const selectedAll = document.getElementById("selectAllId").checked;
        formData.append("isAll", selectedAll);
        formData.append("id", resTemplate.id);
        formData.append("nameFile", resTemplate.fileName);
        if (resTemplate.file) {
            formData.append("fileHtml", resTemplate.file);
        }
        $.ajax({
            type: "post",
            url: "/admin/mail/sendHTML",
            data: formData,
            processData: false,
            contentType: false,
            success: function () {
                animateProgress(0, 100, 3000);
            },
            error: function (error) {
                console.log("Error submitting form:", error);
            }
        });
    }
    function getTemplates() {
        const request = new XMLHttpRequest();
        request.open("GET", `/admin/templates`);
        request.setRequestHeader("Content-type", "application/json; charset=utf-8");
        request.send();
        request.addEventListener("load", function () {
                if (request.status === 200) {
                    arrayTemplates = JSON.parse(request.response);
                    render(arrayTemplates);
                }
            }
        );
    }
    window.addEventListener("DOMContentLoaded", () => {
        const inputExistUsers = document.getElementById("inputIsExistUsers");
        const checkboxSome = document.getElementById("selectSomeId");
        if (inputExistUsers.value === 'true') {
            checkboxSome.checked = true;
            switchCheckboxSelectedUsers();
        }
        getTemplates();
    });
</script>
</body>
</html>