<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/vuexy/assets/vendor/css/rtl/core.css"/>
    <link rel="stylesheet" href="/vuexy/assets/vendor/css/rtl/theme-default.css"/>
    <link rel="stylesheet" href="/vuexy/assets/vendor/fonts/tabler-icons.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">

    <!-- Layout container -->
    <div class="layout-container">

        <!-- Navbar -->
        <div th:insert="~{blocks/navbar::navbar}"></div>
        <!--/ Navbar -->

        <!-- Layout page -->
        <div class="layout-page">

            <!-- Menu -->
            <aside th:insert="blocks/sidebar::sidebar"
                   id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme sidebar"
                   style="display: flex;flex-direction: column;height: 100%;">
            </aside>
            <!--/ Menu -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
                    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">
                        <div style="margin-top: 50px"></div>
                        <form action="/admin/mailing/users">
                            <div class="row d-flex justify-content-end">
                                <input class="form-control" type="text" name="searchValue"
                                       placeholder="Пошук" style="width:20%;margin-right: 20px;">
                                <button class="btn btn-secondary" type="submit"
                                        th:action="@{/admin/mailing/users (page=${currentPage})}"
                                        style="width: 20%;">Пошук
                                </button>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>ID</th>
                                        <th>Дата реєстрації</th>
                                        <th>День народження</th>
                                        <th>Email</th>
                                        <th>Телефон</th>
                                        <th>ФІО</th>
                                        <th>Псевдонім</th>
                                        <th>Місто</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">
                                    <tr th:each="user:${users.getContent()}">
                                        <td>
                                            <input class="form-check-input" type="checkbox" th:value="${user.getId()}"
                                                   th:checked="${user.isSelected}"
                                                   onclick="handleCheckboxClick(this)"/>
                                        </td>
                                        <td th:text="${user.getId()}"></td>
                                        <td th:text="*{user.dateOfRegistration}"></td>
                                        <td th:text="*{user.dateOfBirthday}"></td>
                                        <td th:text="*{user.email}"></td>
                                        <td th:text="*{user.phone}"></td>
                                        <td th:text="*{user.fio}"></td>
                                        <td th:text="*{user.nickname}"></td>
                                        <td th:text="*{user.city}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item first" th:classappend="${currentPage == 0 ? 'disabled': ''}">
                                        <a class="page-link"
                                           th:href="@{/admin/mailing/users (page=${0},searchValue=${searchValue})}"><i
                                                class="ti ti-chevrons-left ti-sm"></i></a>
                                    </li>
                                    <li class="page-item prev" th:classappend="${currentPage == 0 ? 'disabled': ''}">
                                        <a class="page-link"
                                           th:href="@{/admin/mailing/users (page=${users.getMetadata().getPage()-1},searchValue=${searchValue})}"><i
                                                class="ti ti-chevron-left ti-sm"></i></a>
                                    </li>
                                    <li class="page-item"
                                        th:each="i : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 0, currentPage + 2 < totalPages ? currentPage + 2 : totalPages - 1)}">
                                        <a class="page-link"
                                           th:href="@{/admin/mailing/users (page=${i},searchValue=${searchValue})}"
                                           th:text="${i+1}"
                                           th:classappend="${currentPage == i ? 'active' : ''}"></a>
                                    </li>
                                    <li class="page-item next"
                                        th:classappend="${currentPage == totalPages - 1 ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/admin/mailing/users (page=${currentPage + 1},searchValue=${searchValue})}"><i
                                                class="ti ti-chevron-right ti-xs"></i></a>
                                    </li>

                                    <li class="page-item last"
                                        th:classappend="${currentPage == totalPages - 1 ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/admin/mailing/users (page=${totalPages - 1},searchValue=${searchValue}) }"><i
                                                class="ti ti-chevrons-right ti-xs"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </form>
                        <button type="button" class="btn btn-pinterest" id="mailingBtn">Відправити вибрані</button>
                    </div>
                </div>
                <!--/ Content -->
            </div>
            <!--/ Content wrapper -->
        </div>
        <!--/ Layout page -->
    </div>
    <!--/ Layout container -->
</div>
<!--/ Layout wrapper -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/vuexy/assets/vendor/js/helpers.js"></script>
<script src="/vuexy/assets/js/config.js"></script>
<script src="/vuexy/dist/js/bootstrap.js"></script>


<script>
    function handleCheckboxClick(checkbox) {
        if (checkbox.checked) {
            console.log("User " + checkbox.value + ": checked");
            ajaxPost(checkbox.value, true);
        } else {
            console.log("User " + checkbox.value + ": unchecked");
            ajaxPost(checkbox.value, false);
        }
    }

    function ajaxPost(id, isSelected) {
        const formData = new FormData();
        formData.append("id", id);
        formData.append("isSelected", isSelected);
        $.ajax({
            type: "post",
            url: "/admin/mailing/user-selected/save",
            data: formData,
            processData: false,
            contentType: false,
            success: function () {
                console.log("Selected user was successfully saved")
            },
            error: function (error) {
                console.log("Error with save selected user:", error);
            }
        });
    }


    $('#mailingBtn').click(function () {
       window.location.replace("/admin/mailing?isExistUsers="+true);
    })
</script>
</body>
</html>