<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>kinocms</title>
    <th:block th:replace="blocks/links::links"></th:block>
    <th:block th:replace="blocks/links::linksFontAwesome"></th:block>
    <style>
        .sort-table {
            display: flex;
            align-items: end;
            cursor: pointer;
        }

        .divided-text {
            max-width: 100px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">

    <!-- Layout container -->
    <div class="layout-container">

        <!-- Navbar -->
        <div th:insert="~{blocks/navbar::navbar}"></div>
        <!--/ Navbar -->

        <!-- Layout page -->
        <div class="layout-page">

            <!-- Menu -->
            <aside th:insert="blocks/sidebar::sidebar"
                   id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme sidebar"
                   style="display: flex;flex-direction: column;height: 100%;">
            </aside>
            <!--/ Menu -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
                    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">
                        <div style="margin-top: 50px"></div>
                        <form>
                            <div class="row d-flex justify-content-end">
                                <input class="form-control" type="text" id="inputSearch"
                                       placeholder="Пошук" style="width:20%;margin-right: 20px;">
                                <button class="btn btn-dark" type="button" id="btnSearchId"
                                        style="width: 20%;">Пошук
                                </button>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="sort-table" data-id="isSelected" data-type="asc"><i
                                                    class="ti ti-caret-up" style="max-width: 50px"></i>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="sort-table" data-id="id" data-type="asc">ID<i
                                                    class="ti ti-caret-up" style="max-width: 50px"></i>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="sort-table" data-id="dateOfRegistration" data-type="asc"
                                                 style="max-width: 125px">Дата
                                                реєстрації<i
                                                        class="ti ti-caret-up"></i></div>
                                        </th>
                                        <th>
                                            <div class="sort-table" data-id="dateOfBirthday" data-type="asc"
                                                 style="max-width: 125px">День
                                                народження<i
                                                        class="ti ti-caret-up"></i></div>
                                        </th>
                                        <th>
                                            <div class="sort-table" data-id="email" data-type="asc"
                                                 style="min-width: 180px">Email<i
                                                    class="ti ti-caret-up"></i>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="sort-table" data-id="phone" data-type="asc">Телефон<i
                                                    class="ti ti-caret-up"></i></div>
                                        </th>
                                        <th>
                                            <div class="sort-table"
                                                 style="min-width: 150px">ФІО<i
                                                    class="ti ti-caret-up"></i>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="sort-table" data-id="nickname" data-type="asc">Псевдонім<i
                                                    class="ti ti-caret-up"></i></div>
                                        </th>
                                        <th>
                                            <div class="sort-table" data-id="city" data-type="asc">Місто<i
                                                    class="ti ti-caret-up"></i>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0" id="tableDataId">
                                    </tbody>
                                </table>
                            </div>


                            <nav class="d-flex justify-content-center mt-3"
                                 aria-label="Page navigation" id="container-pagination">
                            </nav>

                            <div style="text-align: center;">
                                <button id="btnSubmit"
                                        type="button" class="btn btn-dark" style="width: 35%">Відправити вибрані
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--/ Content -->
            </div>
            <!--/ Content wrapper -->
        </div>
        <!--/ Layout page -->
    </div>
    <!--/ Layout container -->
</div>
<!--/ Layout wrapper -->

<th:block th:replace="blocks/links::scripts"></th:block>
<script>
    const contextPath = window.location.pathname.substring(0, window.location.pathname.indexOf("/", 2));
    document.querySelectorAll(".sort-table").forEach(function (element) {
        element.addEventListener('click', function () {
            let type = element.dataset.type;
            let icon = element.querySelector('i');
            if (type === 'asc') {
                element.dataset.type = 'desc';
                currentSort.direction = 'desc';
                icon.className = 'ti ti-caret-down';
            } else {
                element.dataset.type = 'asc';
                currentSort.direction = 'asc';
                icon.className = 'ti ti-caret-up';
            }
            makeDirectionAttributes(element.dataset.id);
            currentSort.value = element.dataset.id;
            requestByFilterAndSorting();
        });
    });
</script>
<script>
    let currentUsers = [];
    let currentSearchValue;
    let currentSort = {
        direction: '',
        value: ''
    }
    let currentMetaData = {
        page: null,
        size: null,
        totalElements: null,
        totalPages: null
    };


    function generatePageSequence(currentPage, totalPages) {
        const startPage = currentPage > 2 ? currentPage - 2 : 0;
        const endPage = currentPage + 2 < totalPages ? currentPage + 2 : totalPages - 1;
        const pageSequence = [];
        for (let i = startPage; i <= endPage; i++) {
            pageSequence.push(i);
        }
        return pageSequence;
    }

    function renderTable(users) {
        const elementTable = document.getElementById("tableDataId");
        const elementPagination = document.getElementById("container-pagination");
        elementTable.innerHTML = '';
        elementPagination.innerHTML = '';
        if (users.length !== 0) {
            users.forEach(function (element) {
                elementTable.innerHTML += getRowData(element);
            });
            elementPagination.innerHTML = getPagination(currentMetaData.page, currentMetaData.totalPages, currentSearchValue);
            let firstElement = document.querySelector(".first");
            let prevElement = document.querySelector(".prev");
            let nextElement = document.querySelector(".next");
            let lastElement = document.querySelector(".last");

            firstElement.style.cursor = 'pointer';
            prevElement.style.cursor = 'pointer';
            nextElement.style.cursor = 'pointer';
            lastElement.style.cursor = 'pointer';
            if (currentMetaData.page === 0) {
                firstElement.classList.add('disabled');
                prevElement.classList.add('disabled');
                firstElement.style.cursor = 'default';
                prevElement.style.cursor = 'default';
            }
            if (currentMetaData.page === currentMetaData.totalPages - 1) {
                nextElement.classList.add('disabled');
                lastElement.classList.add('disabled');
                nextElement.style.cursor = 'default';
                lastElement.style.cursor = 'default';
            }
            createSequence(currentMetaData.page, currentMetaData.totalPages, currentSearchValue);
        } else {
            const tr = document.createElement('tr');
            tr.style.textAlign = 'center';
            tr.style.borderBottom = 'solid 1px #e1e1e1';
            const td = document.createElement('td');
            td.style.fontSize = '18px';
            td.textContent = 'No matching records found';
            td.colSpan = 9;
            tr.appendChild(td);
            elementTable.appendChild(tr);
        }
    }

    function createSequence(currentPage, totalPages, searchValue) {
        const sequence = generatePageSequence(currentPage, totalPages);
        const paginationContainer = document.getElementById('pagination-container');
        sequence.forEach(i => {
            const li = document.createElement('li');
            li.className = 'page-item';
            li.style.display = 'flex';
            li.style.justifyContent = 'center';
            const a = document.createElement('a');
            a.className = 'page-link';
            a.onclick = function () {
                requestByPageAndFilter(i, searchValue);
            }
            a.textContent = i + 1;
            a.style.display = 'block';
            a.style.width = '100%';
            a.style.textAlign = 'center';
            a.style.cursor = 'pointer';
            if (currentPage === i) {
                a.classList.add('active');
            }
            li.appendChild(a);
            paginationContainer.appendChild(li);
        });
    }

    function getPagination(currentPage, totalPages, searchValue) {
        return `
                            <ul class="pagination">
                                    <li class="page-item first">
                                        <a class="page-link"
                                           onclick="requestByPageAndFilter(${0},'${searchValue}')"><i
                                                class="ti ti-chevrons-left ti-sm"></i></a>
                                    </li>
                                    <li class="page-item prev" style="margin-right: 3px">
                                        <a class="page-link"
                                           onclick="requestByPageAndFilter(${currentPage - 1},'${searchValue}')"><i
                                                class="ti ti-chevron-left ti-sm"></i></a>
                                    </li>
                                    <ul id="pagination-container" class="pagination"></ul>
                                    <li class="page-item next">
                                        <a class="page-link"
                                           onclick="requestByPageAndFilter(${currentPage + 1},'${searchValue}')"><i
                                                class="ti ti-chevron-right ti-sm"></i></a>
                                    </li>

                                    <li class="page-item last">
                                        <a class="page-link"
                                          onclick="requestByPageAndFilter(${totalPages - 1},'${searchValue}')"><i
                                                class="ti ti-chevrons-right ti-sm"></i></a>
                                    </li>
                                </ul>
        `;
    }

    function getRowData(user) {
        return `<tr>
                                        <td>
                                            <input class="form-check-input" type="checkbox" value="${user.id}"
                                                   ${user.isSelected ? 'checked' : ''}
                                                   onclick="handleCheckboxClick(this)"/>
                                        </td>
                                        <td>${user.id}</td>
                                         <td class="divided-text">${user.dateOfRegistration === null ? '-' : user.dateOfRegistration}</td>
                                         <td class="divided-text">${user.dateOfBirthday === null ? '-' : user.dateOfBirthday}</td>
                                         <td class="divided-text" style="width: 100px">${user.email === null ? '-' : user.email}</td>
                                         <td class="divided-text">${user.phone === null ? '-' : user.phone}</td>
                                         <td class="divided-text">${user.fio === null ? '-' : user.fio}</td>
                                         <td class="divided-text">${user.nickname === null ? '-' : user.nickname}</td>
                                         <td class="divided-text">${user.city === null ? '-' : user.city}</td>
                                 </tr>`;
    }

    document.getElementById("btnSearchId").addEventListener('click', function () {
        requestByFilterAndSorting();
    });
    document.getElementById('inputSearch').addEventListener('input', function () {
        requestByFilterAndSorting();
    });
    document.getElementById("btnSubmit").addEventListener('click', function () {
        window.location.replace(contextPath + "/admin/mailing?isExistUsers=true");
    });
</script>
<script>
    function handleCheckboxClick(checkbox) {
        if (checkbox.checked) {
            console.log("User " + checkbox.value + ": checked");
            saveCheckbox(checkbox.value, true);
        } else {
            console.log("User " + checkbox.value + ": unchecked");
            saveCheckbox(checkbox.value, false);
        }
    }

    function saveCheckbox(id, isSelected) {
        const formData = new FormData();
        formData.append("id", id);
        formData.append("isSelected", isSelected);
        $.ajax({
            type: "post",
            url: contextPath + "/admin/mailing/user-selected/save",
            data: formData,
            processData: false,
            contentType: false,
            success: function () {
                console.log("Selected user was successfully saved")
            },
            error: function (error) {
                console.log("Error with save selected user:", error);
            }
        });
    }

    function requestByPageAndFilter(pageNu, searchValue) {
        const request = new XMLHttpRequest();
        let line = '';
        if (currentSort.value !== '' && currentSort.direction !== '') {
            line = '&sort=' + currentSort.value + ',' + currentSort.direction;
        }
        request.open("GET", `${contextPath}/admin/mailing/users-table?page=` + pageNu + `&searchValue=` + searchValue + line);
        request.setRequestHeader("Content-type", "application/json; charset=utf-8");
        request.send();
        request.addEventListener("load", function () {
                if (request.status === 200) {
                    let data = JSON.parse(request.response);
                    currentUsers = data.pageResponse.content;
                    currentSearchValue = data.searchValue;
                    currentMetaData.size = data.pageResponse.metadata.size;
                    currentMetaData.page = data.pageResponse.metadata.page;
                    currentMetaData.totalPages = data.pageResponse.metadata.totalPages;
                    currentMetaData.totalElements = data.pageResponse.metadata.totalElements;
                    renderTable(currentUsers);
                }
            }
        );
    }

    function makeDirectionAttributes(attribute) {
        document.querySelectorAll(".sort-table").forEach(function (element) {
            if (element.dataset.id !== attribute) {
                element.dataset.type = 'asc';
                let icon = element.querySelector('i');
                icon.className = 'ti ti-caret-up';
            }
        })
    }

    function requestByFilterAndSorting() {
        let value = document.getElementById("inputSearch").value;
        let line = '';
        if (currentSort.value !== '' && currentSort.direction !== '') {
            line = '&sort=' + currentSort.value + ',' + currentSort.direction;
        }
        const request = new XMLHttpRequest();
        request.open("GET", `${contextPath}/admin/mailing/users-table?searchValue=` + value + line);
        request.setRequestHeader("Content-type", "application/json; charset=utf-8");
        request.send();
        request.addEventListener("load", function () {
                if (request.status === 200) {
                    let data = JSON.parse(request.response);
                    currentUsers = data.pageResponse.content;
                    currentSearchValue = data.searchValue;
                    currentMetaData.size = data.pageResponse.metadata.size;
                    currentMetaData.page = data.pageResponse.metadata.page;
                    currentMetaData.totalPages = data.pageResponse.metadata.totalPages;
                    currentMetaData.totalElements = data.pageResponse.metadata.totalElements;
                    renderTable(currentUsers);
                }
            }
        );
    }

    window.addEventListener("DOMContentLoaded", () => {
        requestByPageAndFilter(0, '');
        renderTable(currentUsers);
    });
</script>
</body>
</html>