<div th:fragment="sidebar">
    <ul class="menu-inner py-1 ps ps--active-y" style="position: fixed">
        <li  th:class="'menu-item '+${isActiveStatistics!=null?'active':''}">
            <a href="/admin/statistics" class="menu-link">
                <i class="menu-icon ti ti-chart-pie" ></i>
                <div>Статистика</div>
            </a>
        </li>
        <li  th:class="'menu-item '+${isActiveBanners!=null?'active':''}">
            <a href="/admin/banners" class="menu-link">
                <i class="menu-icon ti ti-slideshow"></i>
                <div>Банера/Слайдери</div>
            </a>
        </li>
        <li th:class="'menu-item '+${isActiveMovies!=null?'active':''}">
            <a href="/admin/films" class="menu-link">
                <i class="menu-icon ti ti-movie"></i>
                <div>Фільми</div>
            </a>
        </li>
        <li  th:class="'menu-item '+${isActiveTheaters!=null?'active':''}">
            <a href="/admin/movie-theaters" class="menu-link">
                <i class="menu-icon ti ti-masks-theater"></i>
                <div>Кінотеатри</div>
            </a>
        </li>
        <li  th:class="'menu-item '+${isActiveNews!=null?'active':''}">
            <a href="/admin/news" class="menu-link">
                <i class="menu-icon ti ti-news"></i>
                <div>Новини</div>
            </a>
        </li>
        <li  th:class="'menu-item '+${isActiveActions!=null?'active':''}">
            <a href="/admin/actions" class="menu-link">
                <i class="menu-icon ti ti-pig"></i>
                <div>Акції</div>
            </a>
        </li>
        <li  th:class="'menu-item '+${isActivePages!=null?'active':''}">
            <a href="/admin/pages" class="menu-link">
                <i class="menu-icon ti ti-sitemap"></i>
                <div>Сторінки</div>
            </a>
        </li>
        <li  th:class="'menu-item '+${isActiveUsers!=null?'active':''}">
            <a href="/admin/users" class="menu-link">
                <i class="menu-icon ti ti-users"></i>
                <div>Користувачі</div>
            </a>
        </li>
        <li  th:class="'menu-item '+${isActiveMails!=null?'active':''}">
            <a href="/admin/mailing-list" class="menu-link">
                <i class="menu-icon ti ti-mail-fast"></i>
                <div>Розсилка</div>
            </a>
        </li>
    </ul>
</div>
